# Docker related
*.env
environments/

# Python
**/*.pyc
**/*.pyo
**/__pycache__/
**/.pytest_cache/
**/.venv/

# Tests
tests/

# Documentation
docs/
mkdocs.yml
coverage_html_report/
site/

# Development
design/
workslog/

# CI/CD
.github/

# Other
.git/
.gitignore
tasks.py
LICENSE
**/*.log
**/.vscode/
invoke*.yml
